:root {

    /* Theme variables */
    --color-background: #f5f5f5;
    --color-text: #333333;

    --color-accent: #0067f8;
    --color-accent-dark: #8f0e82;
    --color-accent-light: #65e0ff;

    --color-accent-transparency: rgba(143, 14, 130, 0.153);

    --color-success: #4caf50;
    --color-error: #f44336;
    --color-info: #2196f3;

    --lines-color: #333333;
    --color-transparency: rgba(0, 0, 0, 0.08);
    --color-transparency-darken: rgba(0, 0, 0, 0.2);

    --max-template-width: 1280px;

    /* space units */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 32px;

    /* borders */
    --border-xxs: 1px;
    --border-xs: 2px;
    --border-s: 4px;
    --border-m: 8px;
    --border-l: 16px;

    /* border-radius */
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 16px;


    /* Defaults */

    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-background);
    color: var(--color-text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333333;
        --color-text: #f5f5f5;
        --lines-color: #f5f5f5;
        --color-transparency: rgba(255, 255, 255, 0.093);
        --color-transparency-darken: rgba(0, 0, 0, 0.662);
    }
}

.logo-img {
    max-width: var(--space-l);
}

.logo-title {
    font-size: 1em;
}