table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--color-transparency);
}

td {
    padding: var(--space-xs);

}

tbody .hover-row:hover {
    background-color: var(--color-accent-transparency);
    cursor: pointer;
}

.sort-group {
    cursor: pointer;
}

.cell-align-right {
    text-align: right;
}

.cell-align-center {
    text-align: center;
}

.cell-align-left {
    text-align: left;
}