.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-transparency-darken);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-background);

  padding: var(--space-l);
  border-radius: var(--border-radius-l);
  position: relative;
  max-width: calc(var(--max-template-width) / 1.15);
  width: 100%;
  max-height: 80vh;
  overflow-x: auto;
  overflow-x: hidden;
}

.modal-close {
  position: absolute;
  top: var(--space-l);
  right: var(--space-l);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}